body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f5fb;
    color: #000;
    background: url('https://cdn.pixabay.com/photo/2023/11/15/13/09/ai-generated-8390026_1280.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: #272838;
    color: #f7f5fb;
    padding: 0.5rem;
    text-align: center;
}

.container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #a585e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1200px;
    opacity: 90%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
.profile-description {
    max-width: 600px;
    font-size: larger;
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.contact-info p {
    font-size: 20px;
    margin: 5px 0;
}
.contact-info a {
    text-decoration: none;
    color: #000;
}
.contact-info a:hover {
    color: white;
}
.contact-info i {
    margin-right: 8px;
}
.projects {
    padding: 2rem;
}

.project-card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 0;
    position: relative;
    flex-wrap: nowrap; 
    gap: 10rem; 
}

.project-card img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    margin-bottom: 2rem; 
}

.project-text {
    max-width: 400px;
    height: auto; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-text h2 {
    margin-top: 0;
}

.projh2 {
    text-align: center;
    padding: 10px;
}

.project-number {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative; 
    margin-right: 2rem; 
}

.links {
    margin-top: 1rem;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #fff;
    background-color: #272838;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #70739c;
}

hr {
    border: none;
    margin: 2rem 0;
}

